<h2>Por País</h2>
<hr>
<article class="row">
    <article class="col">
        <form autocomplete="off" (ngSubmit)="buscar()">
            <input type="text" name="termino" placeholder="Buscar país..." class="form-control" [(ngModel)]="termino">
        </form>
    </article>
</article>
<hr>
<section class="alert alert-danger" *ngIf="hayError">
    No se encontro nada asociado con el termino {{ termino }}
</section>
<section class="row" *ngIf="!hayError">
    <section class="col">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Bandera</th>
                    <th>Nombre</th>
                    <th>Población</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>dfadf</td>
                    <td>zcvcv</td>
                    <td>zcvcxv</td>
                    <td>Ver mas...</td>
                </tr>
            </tbody>
        </table>
    </section>
</section>